div.nav{
    display: flex;
    flex-direction: row;
}
body{
    margin: 0px;
    background-color: firebrick;
}
ul li{
    list-style: none;
    margin: 3px;
}
#form-container{
    background-color: firebrick;
}